extends layout

block subhead
  .jumbotron
    .row

      .col-md-12
        h1.extrabig 2015 Imperial College Computing Student Workshop
        p.lead September 24-25, 2015 London, United Kingdom

block content
  .node!= page.html
