extends layout

block subhead
  .jumbotron
    .row

      .col-md-12
        h1.extrabig 2017 Imperial College Computing Student Workshop
        p.lead September 26-27, 2017 London, United Kingdom

block content
  .node!= page.html
